<%- include("partials/header") %>

<h1>This is the show template</h1>

<h5 class=""><%= campground.name %></h5>
<img class="" src="<%= campground.image %>" />
<p><%= campground.description %></p>

<%- include("partials/footer") %>